{% extends 'base.html' %}

{% block head %}
<title>CRC</title>

{% endblock %}

{% block body %}

<form action="result" method="post">
    <label for="kod">Zadej binární zprávu:</label>
    <input type="text" name="kod" title="např: 1010">
    <br>
    <label for="nk">Zadej "n,k" kód:</label>
    <input type="text" name="nk" title="7,4 nebo 15,11">
    <br>
    <label for="gp">Zadej generující polynom:</label>
    <input type="text" name="gp" title="7,4: 1011, 1101 | 15,11: 10011">
    <br>
    <input type="submit" value="SUBMIT" id="result" name="1st">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <label for="nk">Zadej chybnou zprávu:</label>
    <input type="text" name="err">
    <br>
    <input type="submit" name="2nd" value="SUBMIT" id="result">
    {% for message in get_flashed_messages()%}
        <p> {{message}} </p>
    {% endfor %}
</form>
<div class = "vertical"></div>

{% endblock %}